body {
  background-color: #fff;
}
header {
  padding: 92px 24px 96px;
}
.header-title {
  display: grid;
  grid-template-columns: 454px 148px 450px;
  align-items: center;
  height: 105px;
}
.nav-top {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
  padding: 42px 36px 40px 26.52px;
  font-weight: 400;
  font-size: 18px;
  list-style: circle;
}
.nav-item {
  list-style: none;
}
.logo {
  width: 148px;
  height: 105px;
}
.addresses-top {
  padding-left: 184.52px;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  letter-spacing: 0.18px;
}
.cover {
  position: relative; 
  z-index: -50;
  height: 757px;
  overflow:auto;
  color: #FFF;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.overlay {
  position: absolute;
  z-index: -30;
  width: 100%;
  height: 100%;
  opacity: 50%;
  background-color: #000;
}
.cover-title {
  font-weight: 700;
  font-size: 100px;
  text-transform: uppercase;
  white-space: nowrap;
}
.ONO {
  margin: 165px 734px 20px 50px;
  line-height: 115%;
  word-spacing: -25px;
}
.ono-1 {
  letter-spacing: 30px;
}
.ono-2 {
  letter-spacing: 60px;
}
.tebe-1 {
  letter-spacing: 30px;
}
.tebe-2 {
  letter-spacing: 60px;
}
.TEBE {
  margin: 20px 395px 20px 336px;
  line-height: 100%;
  word-spacing: -25px;
}
.nado-1 {
  letter-spacing: 60px;
}
.nado-2 {
  letter-spacing: 30px;
}
.NADO {
  margin: 0 50px 0 633px;
  line-height: 100%;
  word-spacing: -85px;
}
.cover-footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 51px;
  align-items: center;
  gap:79px;
  margin: 135px 50px 51px 78px;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
}
.description {
  font-weight: 400;
  line-height: 28px;
  word-spacing: 18.7px;
  white-space: nowrap;
}
.bet {
  width: 256px;
  height: 51px;
  border: 1px solid #FFF;
  padding: 12px 32px 11px 31px;
  color: #FFF;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
}
.lots {
  width: 1052px;
  height: 692px;
  margin: 179px 24px 146px;
}
.lots-title {
  display: block;
  margin-bottom: 27px;
  margin-left: 40px;
  color: #000;
  font-weight: 700;
  font-size: 40px;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 334px);
  grid-template-rows: 563px;
  gap: 25px;
  height: 563px;
}
h2 {
  color: #FFF;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
}
h3 {
  color: #FFF;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}
.cards a{
  text-decoration: none;
}
.movie {
  position: relative;
  z-index: -50;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  height: 100%;
  background-image: url(../images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.book {
  position: relative;
  z-index: -30;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  height: 100%;
  background-image: url(../images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.picture {
  position: relative;
  z-index: -30;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  height: 100%;
  background-image: url(../images/card-lot-03.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.card-title {
  flex-grow: 1;
  width: 254px;
  margin: 51px 40px 0;
}
.card-text {
  margin: 0 40px 48px;
}
.more {
  display: block;
  margin-top: 30px;
  margin-left: 40px;
  font-weight: 400;
  font-size: 20px;
}
.about {
  display: grid;
  grid-template-columns: 359px 1fr;
  margin: 146px 24px 0 24px;
}
.logo-white {
  width: 148px;
  height: 114px;
  margin: 64px 45.5px 62px 46.5px;
}
.about-title {
  margin-top: 136px;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}
.logo-background {
  width: 240px;
  height: 240px;
  margin: 35px 72px 320px 47px;
  border-radius: 50%;
  background-color: #000;
}
.about-text {
  display: grid;
  grid-template-rows: 120px 168px;
  gap: 24px;
  margin-top: 100px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
}
.about-text-1 {
  padding-right: 5px;
  letter-spacing: 0.1px;
}
footer {
  display: grid;
  grid-template-columns: 240.521px 149px 240px;
  gap: 185.48px;
  margin: 180px 50px;
}
.social {
  display: grid;
  grid-template-columns: repeat(3, 48px);
  gap: 48px;
  list-style: none;
}
.nav-list {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  list-style: none;
}
.addresses-bottom {
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  letter-spacing: 0.18px;
}